.container-contact > h1 {
    color: #fff;
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    transition: .2s;
}
.NameContact{
    margin: 0 12px;
    cursor: pointer;
    transition: .2s;
}
.NameContact-v{
    margin-left: 100px;
    transition: .2s;
    cursor: pointer;
}

.contactOne, .contactTwo, .contactThre, .contactFour, .contactFive {
    margin: 50px 100px;
    font-size: 30px;
    color: white;   
    display: flex;
    align-items: flex-end;
    width: 80%;
    transition: .2s;
}
.contactTwo-v, .contactOne-v, .contactThre-v, .contactFour-v, .contactFive-v {
    margin: 50px 140px;
    font-size: 30px;
    color: white;   
    display: flex;
    align-items: flex-end;
    width: 80%;
    transition: .2s;
}
.contactOne-v {
    color: #FBBC05;
}
.contactTwo-v {
    color: rgb(9,97,184);
}

.contactThre-v {
    color: rgb(51,0,99);
}

.contactFour-v  {
    color: rgb(247, 119, 55);
    opacity: none !important;
}

.textContact {
    color: white;
    font-size: 30px;
    font-weight: 300;
    margin: 100px 126px;
    text-align: justify;
}

.contactFive-v {
    color: rgb(2, 101, 176);
}
@media (width <= 750px) {
    .textContact {
        color: white;
        font-size: 16px;
        font-weight: 300;
        margin: 100px 34px;
        text-align: justify;
    }
    .contactOne, .contactTwo, .contactThre, .contactFour, .contactFive {
        margin: 36px 36px;
        font-size: 23px;
        color: white;
        display: flex;
        align-items: flex-end;
        width: 80%;
        transition: .2s;
    }
    .NameContact {
        margin: 0 12px;
        cursor: pointer;
        transition: .2s;
        font-size: 22px;
    }
    .contactTwo-v, .contactOne-v, .contactThre-v, .contactFour-v, .contactFive-v {
        margin: 36px 45px;
        font-size: 23px;
        color: white;   
        display: flex;
        align-items: flex-end;
        width: 80%;
        transition: .2s;
    }
    .contactOne-v {
        color: #FBBC05;
    }
    .contactTwo-v {
        color: rgb(9,97,184);
    }
    
    .contactThre-v {
        color: rgb(51,0,99);
    }
    
    .contactFour-v  {
        color: rgb(247, 119, 55);
        opacity: none !important;
    }
    
    
}