.container-trabajos {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
/* .portal-container {
    margin: 100px 20px ;
    width: 50%;
} */
.informacion-container {
    display: flex;
    align-items: center;
}
