@import url(./MQ/MediaQWorks.css);

.Works-page-container {
    width: 100%;
    height:762px;
    
}
.work-one {
    width: 80%;
    margin: 50px auto;
    display: flex;
}
.work-uno {
    width: 100%;
    cursor: pointer;
}

.emoji-flecha {
    font-size: 29px;
    margin-right: 10px;
}
.iconWeb {
    font-size: 25px; 
    color: black;
}

.AfroBook, .DogCat, .GeekyGram, .music-io, .SuperMarket {
    font-family: 'Gemunu Libre', sans-serif;
 
    width: 42%;
    font-size: 33px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    font-weight: 800;
    transition: .1s;
}

.AfroBook {
    color: #dd59d0;
}
.DogCat {
    color: #FF5757;
}
.GeekyGram {
    color: #FF416C;
}
.music-io {
    color: #fff;
}
.SuperMarket {
    color: orange;
}

.AfroBook:hover, .DogCat:hover, .GeekyGram:hover, .music-io:hover, .SuperMarket:hover {
    padding-left: 50px;
    transition: .1s;
    cursor: pointer;
}

.containerindiv{
    top: 29px;
    left: 0;
    right: 0;
    background-color: white;
    border-radius: 20px;
    position: fixed;
    width: 22%;
    z-index: 300;
    height: 8%;
    margin: 0 auto;
    transition: .3s;
    display: none;
}

.containerindiv-v {
    display: block;
    transition: .3s;
}





.prueba {
    border: 1px solid white;
    width: 30%;
}
.containercards {
    display: flex;
    width: 100%;
    height: auto;
}
.pruebaasd {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card {
    margin: 40px 0 ;
}

.iconSkills {
    margin: 0 5px;
    font-size: 25px;
}