@import url(./Style/Section.css);
@import url(./Style/Works.css);
@import url(./Style/Portal.css);
@import url(./Style/ButtonHome.css);
@import url(./Style/About.css);
@import url(./Style/Frame.css);
@import url(./Style/Cards.css);
@import url(./Style/Contact.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Gemunu Libre', sans-serif;
}

body {
  background-color: #000 !important;
}